<%-include("header.ejs") %>
<h1 class="tittle"><strong>Hey, we’re Bloogy.</strong><div class="xyz">See our thoughts, <span class="auto-type"></span></div></h1>
<hr width="95%">

<h1 class="mandir-head">Create Your Own Post</h1>

<form action="/checked" method="POST">
    <input  type="text" class="feedback-input" name="postName" placeholder="Name of Post" />
    
    <textarea  class="feedback-input" placeholder="Content" name="Content"></textarea>
    <input type="submit" value="SUBMIT" />
</form>

<%-include("footer.ejs") %>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed=new Typed(".auto-type",{
        strings:["Stories and Ideas.","Experience.","Articles.","Events."],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    })
</script>
