<%-include("header.ejs") %>
<h1 class="tittle"><strong>Hey, we’re Bloogy.</strong><div class="xyz">See our thoughts, <span class="auto-type"></span></div></h1>
<hr width="95%">
<h1 class="mandir-head"><strong>General FAQs</strong></h1>
<br>
<h3 class="history-content faq-q">Q.What is the main focus of your blog?</h3>
<h3 class="history-content faq-a"><strong>Ans.</strong> Our blog covers a wide range of topics including Tech, Sports, Science, Current Affairs and focusing on providing thoughtful insights, useful tips, and the latest trends in the industry.</h3>
<br>
<h3 class="history-content faq-q">Q.Who writes the content for your blog</h3>
<h3 class="history-content faq-a"><strong>Ans.</strong>  Our content is written by a team of experienced writers, experts in their respective fields, ensuring that all information is accurate, engaging, and valuable to our readers.</h3>
<br>
<h3 class="history-content faq-q">Q.How often do you update the blog?</h3>
<h3 class="history-content faq-a"><strong>Ans.</strong>  We update our blog regularly, typically posting new content weekely.</h3>
<br>
<h1 class="mandir-head"><strong>Content FAQs</strong></h1>
<br>
<h3 class="history-content faq-q">Q.Can I contribute a guest post to your blog? </h3>
<h3 class="history-content faq-a"><strong>Ans.</strong>  Yes, you can by visiting create post or by emailing us.</h3>
<br>
<h3 class="history-content faq-q">Q.Do you provide sources for the information in your articles? </h3>
<h3 class="history-content faq-a"><strong>Ans.</strong>  Yes, we strive to provide reliable sources and references for the information presented in our articles. If applicable, sources can be found at the end of each article.</h3>
<br>
<h1 class="mandir-head"><strong>Technical FAQs</strong></h1>
<br>
<h3 class="history-content faq-q">Q.How can I subscribe to your blog updates? </h3>
<h3 class="history-content faq-a"><strong>Ans.</strong>  You can subscribe by entering your email address in the subscription box provided on our homepage. You'll receive notifications whenever new content is posted.</h3>
<br>
<%-include("footer.ejs")%>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed=new Typed(".auto-type",{
        strings:["Stories and Ideas.","Experience.","Articles.","Events."],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    })
</script>