
<div class="footer">
    <div>
        <ul>
            <li>
            <a href="https://www.facebook.com/om.bhayde.5/">
                <i class="fab fa-facebook-f icon"></i>    </a>
            </li>
            <li>
            <a href="https://twitter.com/BhaydeOm"><i class="fab fa-twitter icon"></i></a>
            </li>
            <li>
            <a href="https://www.linkedin.com/in/om-bhayde-66a643253/"><i class="fab fa-linkedin-in icon"></i></a></li>
            <li>
            <a href="https://www.instagram.com/_om__20__/"><i class="fab fa-google-plus-g icon"></i></a></li>
        </ul>
    </div>
    <div><h4 class="copy">Copyright@2024</h4></div>
    <div><h4 class="copy">MadeBy @Om</h4></div>
</div>