<%-include("header.ejs") %>
<h1 class="tittle"><strong>Hey, we’re Bloogy.</strong><div class="xyz">See our thoughts, <span class="auto-type"></span></div></h1>
<hr width="95%">

<h1 class="mandir-head">The Current <Strong class="hh">Ram Mandir</Strong> Scenario.</h1>
<img src="assest/mandir-1.jpg" alt="ram-mandir" width="100%" class="ram-mandir1">
<h1 class="history-txt">History of Ayodhya Ram Mandir</h1>
<hr>
<h3 class="history-content">The history of the Ayodhya Ram Mandir is centuries-old. The temple is built on the <strong>birthplace of Lord Ram</strong>, one of the most revered Hindu deities. The temple was demolished by the <strong>Mughal emperor Babur</strong> in the 16th century and a <strong>mosque</strong> was built in its place. The mosque, known as the <strong>Babri Masjid</strong>, stood on the site for centuries until it was demolished in 1992 by Hindu nationalists, triggering widespread violence and communal tensions in the country.

    The Ayodhya dispute has been a contentious issue in Indian politics for decades. The dispute revolved around the ownership of the site where the Babri Masjid stood and whether it was the birthplace of Lord Ram. The dispute was finally settled by the Indian Supreme Court in 2019, which ruled in favor of the construction of a Ram Janmabhoomi temple on the site. The construction of the temple was undertaken by the Shri Ram Janmabhoomi Teerth Kshetra, a trust formed by the Indian government to oversee the construction of the temple.</h3>
<div class="history-img">
    <img src="assest/msj.jpg" alt="msg" height="200px" width=auto>
    <img src="assest/proof-1.png" alt="proof" height="200px" width=auto>
    <img src="assest/proof-2.jpg" alt="proof" height="200px" width=auto>
</div>
<br>
<h1 class="history-txt">The Struggle of Ayodhya Ram Mandir</h1>
<hr>
<h3 class="history-content">The Supreme Court may have paved the way for a Ram Mandir in Ayodhya through its verdict in 2019, but the foundation of the structure had already been laid with the demolition of the Babri Masjid on December 6, 1992 by a mob of <strong>karsevaks</strong> who had gathered in the Uttar Pradesh town on the call of Sangh parivar leaders.</h3>
<h3 class="history-content">The karsevaks soon turned the Babri Masjid to dust. A total of 49 FIRs were filed after the incident but the CBI trial dealt with two main crimes concerning the demolition and the conspiracy behind it. The first FIR (no. 197) was lodged by the police at the Ram Janmabhoomi police station against unnamed kar sevaks on the charges of dacoity, robbery, causing hurt, injuring and defiling place of worship, promoting enmity on grounds of religion, etc. </h3>
<div class="history-img">
    <img src="assest/kar1.jpg" alt="msg" height="200px" width=auto>
    <img src="assest/kar2.png" alt="proof" height="200px" width=auto>
    <img src="assest/kar3.png" alt="proof" height="200px" width=auto>
</div>
<br>
<h1 class="history-txt">The Untold Story Of Kothari Brothers</h1>
<hr>
<h3 class="history-content">Ram Kumar Kothari and Sharad Kumar Kothari were among the kar sevaks who reached Ayodhya in October 1990. They were based out of Kolkata. According to reports, their troop started from Kolkata and was stopped in Banaras. They took a taxi to Kolapur and from there, they walked 200km to reach Ayodhya on October 30.</h3>
<h3 class="history-content">The Kothari family originally hails from Bikaner, Rajasthan. During his youth, Purnima’s father had gone to West Bengal for business purposes. There, he established a small iron plant. This was the source of livelihood for the family. Over time, he became the father of three children. This includes two sons named Ramkumar and Sharad, and a daughter named Purnima. Along with pursuing their graduation, Sharad and Ramkumar were also involved in their father’s business. Purnima, too, helped her mother with household chores while pursuing her studies.</h3>
<h3 class="history-content">On 2nd November 1990, from a journalist who was present at the spot in Ayodhya. At that time, the Kothari brothers were hiding in a house near Lal Kothi along with other Karsevaks. During that time, the name of a Muslim officer was mentioned who was inflicting cruelty towards the devotees of Lord Ram. After some time, there was a knock on the door of the house where Ramkumar and Sharad were hiding. When someone asked for water from outside, 19-year-old Sharad thought that perhaps a kar sevak was stuck outside.

    Further told that due to a misconception, Sharad opened the door, thinking that the person asking for water might be a kar sevak. From outside, police officers grabbed Sharad by his collar and dragged him onto the road. There, Sharad was shot in the chest and struggled in pain. Witnessing his younger brother’s agony, Ramkumar, who was around 23 years old, also stepped out. He lay down on top of his brother to shield him from further gunfire. It was then that the surrounding soldiers aimed at Ramkumar Kothari’s head from close range and fired. The brothers sacrificed their lives together at the same place.</h3>
<div class="history-img">
    <img src="assest/koth1.png" alt="msg" height="200px" width=auto>
    <img src="assest/koth2.png" alt="proof" height="200px" width=auto>
    <img src="assest/koth3.png" alt="proof" height="200px" width=auto>
</div>
<h3 class="quote">"मन की बात हम वहीं करेंगे
    मंदिर की हम जब स्थापना करेंगे।"</h3>
<h4 class="author">Source-- आज़ाद मिश्र</h4>
<br>
<h1 class="history-txt">BJP Lime-Lighting And Recontruction Of The Ram Mandir</h1>
<hr>
<h3 class="history-content"> January 2022, the construction of the Ram Mandir in Ayodhya, India, was underway, and the Bharatiya Janata Party (BJP) was actively involved in the process. The Ram Mandir issue has been a significant political and social matter in India for many years.

    The construction of the Ram Mandir gained momentum after the Supreme Court of India's verdict in November 2019, which ruled in favor of building a Hindu temple at the disputed site in Ayodhya. The court also directed the allocation of an alternative piece of land for the construction of a mosque.
    
    The BJP, which has historical roots in the Rashtriya Swayamsevak Sangh (RSS) and other affiliated organizations, has consistently advocated for the construction of the Ram Mandir. The party's involvement in the temple's reconstruction is part of its commitment to fulfilling its ideological and cultural agenda.
    
    The construction project is overseen by the Shri Ram Janmabhoomi Teerth Kshetra, a trust established by the government to facilitate and manage the construction of the temple. The BJP, being the ruling party at the national level, has been actively supporting and promoting the construction efforts.
    
    The development and reconstruction of the Ram Mandir have been significant events that have stirred both political and social discussions in India.</h3>
    <div class="history-img">
        <img src="assest/bjp1.png" alt="msg" height="200px" width=auto>
        <img src="assest/bjp3.png" alt="proof" height="200px" width=auto>
        <img src="assest/bjp4.png" alt="proof" height="200px" width=auto>
        <img src="assest/bjp5.png" alt="proof" height="200px" width=auto>
    </div>

    <br>
    <h1 class="history-txt">Two Lines</h1>
    <hr>
    <h3 class="history-content poem-txt">वैसे तो हूं त्रेता से.. मुझे कृष्ण ने कलयुग भेजा है ...भई बात वहां तक फैल गई है
    </h3>
    <h3 class="history-content poem-txt">की यहां कुछ तो मंगल होने को है के भरत से भारत हुए राज में सुना है राम जी आने को हैं</h3>
    <br>
    <h3 class="history-content poem-txt">ये तुम लोगों के.. नाम जपो में..पहले सा आराम नहीं ये तुम लोगों के.. नाम जपो में..पहले सा आराम नहीं
        </h3>
    <h3 class="history-content poem-txt">इस जबरदस्ती के जय श्री राम में सब कुछ है..बस राम नहीं!</h3>
<hr>
    <br>
    <h1 class="thanks">Thanks For Reading</h1>
    <%-include("footer.ejs") %>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed=new Typed(".auto-type",{
        strings:["Stories and Ideas.","Experience.","Articles.","Events."],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    })
</script>