<p class="story-txt recent-head" id="recent"><strong>Recent Post</strong></p>
<div class="recent">
    <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url('assest/auto1.png');">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
                <span class="date__box">
                  <span class="date__day">20</span>
                  <span class="date__month">JAN</span>
                </span>
              </div>
              <div class="blog-card__info">
                <h5>Automating Repetitive Tasks: Productivity Hacks For Developers</h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Om Bhayde</a>
                  <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 21</a>
                </p>
                <p>Until now, trying to style an article, document, or blog post with Tailwind has been a tedious task that required a keen eye for typography and a lot of complex custom CSS.

                    By default, Tailwind removes all of the default browser styling from paragraphs, headings, lists and more. This ends up being really useful for building application UIs because you spend less time undoing user-agent styles, but when you really are just trying to style some content that came from a rich-text editor in a CMS or a markdown file, it can be surprising and unintuitive.
                    
                    We get lots of complaints about it actually, with people regularly asking us things like.</p>
                <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right recent-btn"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      
      <section class="detail-page">
        <div class="container mt-5">
      
        </div>
      </section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url('assest/auto2.png');">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
                <span class="date__box">
                  <span class="date__day">22</span>
                  <span class="date__month">JAN</span>
                </span>
              </div>
              <div class="blog-card__info">
                <h5>Best Practices For Web Accessibility: Building Inclusive Websites</h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Om Bhayde</a>
                  <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 21</a>
                </p>
                <p>Phew, with any luck we have styled the headings above this text and they look pretty good.

                    Let's add a closing paragraph here so things end with a decently sized block of text. I can't explain why I want things to end that way but I have to assume it's because I think things will look weird or unbalanced if there is a heading too close to the end of the document.
                    
                    What I've written here is probably long enough, but adding this final sentence can't hurt.</p>
                <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right recent-btn"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      
      <section class="detail-page">
        <div class="container mt-5">
      
        </div>
      </section>
</div>