<div class="big-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content"> <a href="/mandir">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/ram-mandir.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">The Current Ram Mandir Scenario.</h3>
                            <p class="content-text">The Ram Mandir opening in Ayodhya is a historic event, symbolizing a long-awaited cultural milestone, fostering unity and faith in India. </p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/valo.jpg" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Esports</h3>
                            <p class="content-text">"Valorant, a tactical first-person shooter, has emerged as a dominant force in the esports scene, captivating audiences with its strategic gameplay and intense team dynamics.</p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/chand.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Chandrayan-4</h3>
                            <p class="content-text">Chandrayaan-4, India's ambitious lunar exploration mission, aims to build on the success of its predecessors by deploying advanced instruments to study the Moon's surface in unprecedented detail.</p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/shoes.jpg" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Air Jordan Panda</h3>
                            <p class="content-text">Step into style, soar with performance – Jordan shoes, where iconic design meets unmatched athleticism, a leap above the rest.</p>
                        </div>
                    </a> </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/corona.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Investment Strategies for a Post-COVID World.</h3>
                            <p class="content-text">In the aftermath of the COVID-19 pandemic, investors are eyeing resilient sectors such as technology, healthcare, and sustainable industries.</p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/ai.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">The Ethics of Artificial Intelligence.</h3>
                            <p class="content-text">The ethics of artificial intelligence (AI) center around addressing concerns related to privacy, bias, accountability, and the potential impact on employment. </p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/city.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">The Rise of Smart Cities.</h3>
                            <p class="content-text">
                                The rise of smart cities represents a transformative urban evolution, integrating advanced technologies to enhance efficiency, sustainability, and quality of life. </p>
                        </div>
                    </a> </div>
            </div>
            <div class="col-md-4">
                <div class="content"> <a href="#">
                        <div class="content-overlay"></div> <img class="content-image" src="assest/streetware.png" height="563px">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">The Evolution of Streetwear Culture.</h3>
                            <p class="content-text">The evolution of streetwear culture traces a journey from its grassroots origins in counterculture to becoming a global fashion phenomenon.</p>
                        </div>
                    </a> </div>
            </div>
        </div>
    </div>
</div>

<hr>


