<hr>
<p class="story-txt recent-head" id="recent"><strong>Subscribe</strong></p>
<br>

<div class="subscribe">
    <div class="wrapper">
      <div class="header1">
        <h1 class="subs-h">Subscribe</h1>
        <p class="subs-p">coming soon to your inbox</p>
      </div>
      <div class="footer1">
        <form action="">
          <input type="text" placeholder="Enter your email here" />
        </form>
        <button class="btn-submit">submit</button>
      </div>
    </div>
  </div>